.MuiFilledInput-root {
    background-color: #f1f1f1 !important;
}

.MuiFilledInput-root::after {
    border-bottom: 2px solid #059669 !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #059669 !important;
}


.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
        border-color: #059669 !important;
    }
}

.MuiInput-root {
    &::after {
        border-bottom: 2px solid #059669 !important;
    }
}

// Dark Theme
.dark {
    .MuiFilledInput-root {
        @apply bg-stone-900 text-gray-400
    }
    .MuiFormLabel-root {
        @apply text-gray-400 text-gray-400
    }
    input, .MuiOutlinedInput-input {
        @apply text-gray-400
    }
    .MuiOutlinedInput-notchedOutline  {
        @apply border-stone-900 
    }
    .MuiAutocomplete-root {
        .MuiChip-root {
            @apply bg-stone-800 text-gray-400
        }
        svg {
            @apply text-gray-400
        }
    }
}