.MuiFilledInput-root {
    @apply bg-gray-200 rounded-lg;

    &::before {
        @apply border-0
    }
}

.MuiFilledInput-root::after {
    border-bottom: 2px solid #059669 !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #059669 !important;
}


.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
        border-color: #059669 !important;
    }
}

.MuiInput-root {
    &::after {
        border-bottom: 2px solid #059669 !important;
    }
}

// Dark Theme
.dark {
    .MuiFilledInput-root {
        @apply bg-stone-700 text-white;

        input {
            @apply text-gray-200
        }
    }

    .MuiFormLabel-root {
        @apply text-gray-200
    }

    input,
    .MuiOutlinedInput-input {
        @apply text-gray-200
    }

    .MuiOutlinedInput-notchedOutline {
        @apply border-stone-700
    }

    .MuiAutocomplete-root {
        .MuiChip-root {
            @apply bg-stone-700 text-gray-300
        }

        svg, path {
            @apply text-gray-400
        }
    }
}