@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mui_styles.scss";

:root {
  --foreground-rgb      : 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb  : 255, 255, 255;
  font-size             : 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb      : 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb  : 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width   : none;
    /* Firefox */
  }
}

.no-scroll {
  overflow: hidden;
}

.pageTitle {
  @apply text-2xl font-semibold text-emerald-600
}

/* Input Text Counter */
.inputLimit {
  @apply text-xs;
}

/* Quill Stuff */
.noBorder {
  @apply border-none
}

#viewOnlyQuill {
  font-size: 14px;
}

#editQuill {
  .ql-editor {
    @apply h-[300px] lg:h-[300px]
  }
}
.ql-editor li  {
  margin-left: -2em !important;
}

.hide-ql-container {
  display: none;
}

.controls {
  display   : flex;
  border    : 1px solid #ccc;
  border-top: 0;
  padding   : 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin     : 10px 0;
  font-family: monospace;
}

.state-title {
  color         : #999;
  text-transform: uppercase;
}

.ql-tooltip {
  z-index: 999 !important;
}

// Martini Loading
.martini-loader {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100vw;
  height          : 100vh;
  position        : fixed;
  top             : 0;
  left            : 0;
  background-color: rgba(255, 255, 255, .4);
  z-index         : 9999;
}

.loader-content {
  text-align: center;
}