@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb      : 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb  : 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb      : 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb  : 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


}

.no-scroll {
  overflow: hidden;
}

.pageTitle {
  @apply text-2xl font-semibold;
}

/* Input Text Counter */
.inputLimit {
  @apply text-xs;
}

/* Quill Stuff */
.noBorder {
  @apply border-none
}

#editQuill {
  .ql-editor {
    height: 12rem !important;
  }
}

.hide-ql-container {
  display: none;
}

.controls {
  display   : flex;
  border    : 1px solid #ccc;
  border-top: 0;
  padding   : 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin     : 10px 0;
  font-family: monospace;
}

.state-title {
  color         : #999;
  text-transform: uppercase;
}

.ql-tooltip {
  z-index: 999 !important;
}